<% if current_user.orders.present? %>
  <section id="cart_items">
    <div class="panel panel-default">
    <div class="panel-heading"><h4>My Orders</h4></div>
    </div>
    <% @orders.each do |order| %>
      <% unless order.status == 'pending' %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-sm-2">
                <p>Order-Placed</p>
                <p class="paragraph-line"><%= order.created_at.strftime("%d %B %Y") %></p>
              </div>
              <div class="col-sm-2">
                <p>Total</p>
                <p class="paragraph-line">&#8377; <%= order.grand_total %></p>
              </div>
              <div class="col-sm-4">
                <p>Ship-To</p>
                <p class="paragraph-line">
                  <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" title="<%= order.address.name %>" data-content="
                    <%= order.address.address1 %>,
                    <%= order.address.pincode %>,
                    <%= order.address.city %>,
                    <%= order.address.state %>,
                    <%= order.address.country %>.
                    <%= order.address.phone %>">
                    <%= current_user.first_name %>
                    <i class="fa fa-caret-down" style="color: black"></i>
                    </a>
                </p>
              </div>
              <div class="col-sm-2">
                <p>Order # <%= order.id %></p>
                <p class="paragraph-line">
                  <%= link_to order_path(order.id) do %>Order Details<% end %>
                </p>
              </div>
              <% unless order.status == 'cancel' || order.status == 'delivered' %>
                <div class="col-sm-2">
                  <h4><%= link_to 'Cancel Order', cancel_order_order_path(order), class: 'btn btn-width2' %></h4>
                </div>
              <% else %>
                <div class="col-sm-2">
                  <p>Order-Status</p>
                  <p class="paragraph-line">
                  <% if order.status == 'cancel'%>
                    <b>Cancelled</b>
                  <% elsif order.status == 'delivered' %>
                    <b>Delivered</b>
                  <% end %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
          <% if order.status=='cancel'%>
            <div class="col-sm-12">
              <h4>Refunded</h4>
              <p>Your Money has been refunded to your Account on <%= order.updated_at.strftime("%d %B %Y")%></p>
              <hr>
            </div>
          <% end %>
          <% order.order_items.each do |order_item| %>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-2">
                  <%= link_to product_path(order_item.product) do %><%= image_tag(order_item.product.pictures.first.avatar.url,class: 'order-image') %><% end %>
                </div>
                <div class="col-sm-6">
                  <p><%= link_to product_path(order_item.product) do %><%= order_item.product.name %><% end %></p>
                  <p class="paragraph-line">&#8377; <%= order_item.product.price %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </section>
<% else %>
  <section id="cart_items">
    <div class="container">
      <div class="cart_info">
        <h2 style="text-align: center;">You have not placed any order</h2>
        <br>
        <h4 style="text-align: center;"><%= link_to 'Continue Shopping', root_path, class: 'btn btn-width2' %></h4>
      </div>
    </div>
  </section>
<% end %>