<section id="cart_items">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Thank-You</h2>
      <% unless @order.status == 'cancel' || @order.status == 'pending' || @order.status == '' %>
        <p>Your Order with order-id: <%= @order.id %> is <b
        >Complete</b>, you paid <b>&#8377; <%= @order.grand_total %></b></p>
        <%= button_tag 'Track Order', class: 'btn btn-width2 btn-margin-order', "data-toggle" => "modal", "data-target" => "#my_modal_track_order" %>
      <% else %>
        <p>Your Order with order-id: <%= @order.id %> has been <b>Cancelled</b></p>
      <% end %>
    </div>
    <div class="panel-body">
      <%= image_tag('home/logo.png')%>
      <h3>Invoice</h3>
      <hr>
      <p style="font-size: 20px"><%= @address.name %></p>
      <p class="address_para"><%= @address.address1 %></p>
      <p class="address_para"><%= @address.address2 %></p>
      <p class="address_para"><%= @address.pincode %></p>
      <p class="address_para"><%= @address.city %></p>
      <p class="address_para"><%= @address.state %></p>
      <p class="address_para"><%= @address.country %></p>
      <p><%= @address.phone %></p>
      <hr>
      <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% sub_total = 0 %>
        <% @orderitems.each do |order_item| %>
          <tr>
            <td><%= order_item.product.name %></td>
            <td><%= order_item.quantity %></td>
            <td><%= order_item.product.price %></td>
            <td><%= order_item.amount %></td>
            <% sub_total += order_item.amount.to_f %>
          </tr>
        <% end %>
        <% if @coupon.present? %>
          <% discount = (sub_total * @coupon.percent.to_i)/100 %>
        <% else %>
          <% discount = 0.0 %>
        <% end %>
        <% cart_total = sub_total - discount %>
        <tr>
          <th></th>
          <th></th>
          <th>Sub-Total</th>
          <td><%= sub_total%></td>
        </tr>
        <tr>
          <th class="no-line"></th>
          <th class="no-line"></th>
          <th class="no-line">Discount</th>
          <td class="no-line">- <%= discount %></td>
        </tr>
        <tr>
          <th class="no-line"></th>
          <th class="no-line"></th>
          <th class="no-line">Service Tax</th>
          <td class="no-line"><%= (cart_total*0.15).round(2) %></td>
        </tr>
        <tr>
          <th class="no-line"></th>
          <th class="no-line"></th>
          <th class="no-line">Shipping-Charge</th>
          <td class="no-line"><%= @order.shipping_charge%></td>
        </tr>
        <tr>
          <th class="no-line"></th>
          <th class="no-line"></th>
          <th class="no-line">Total</th>
          <td class="no-line"><%= @order.grand_total%></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="panel-footer">
      <h4><%= link_to 'Continue Shopping', root_path, class: 'btn btn-width2' %></h4>
    </div>
  </div>
</section>
<div class="modal fade" id="my_modal_track_order" role="dialog">
  <div class="modal-dialog" style="width: 500px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Track Order</h4>
      </div>
      <div class="modal-body">
        <% success = TrackOrder.where(order_id: @order.id,status: 'success').last.created_at.strftime("%d %B %Y") if TrackOrder.where(order_id: @order.id,status: 'success').last.present? %>
        <% in_transit = TrackOrder.where(order_id: @order.id,status: 'success').last.created_at.strftime("%d %B %Y") if TrackOrder.where(order_id: @order.id,status: 'in-transit').last.present? %>
        <% shipped = TrackOrder.where(order_id: @order.id,status: 'shipped').last.created_at.strftime("%d %B %Y") if TrackOrder.where(order_id: @order.id,status: 'shipped').last.present? %>
        <% delivered = TrackOrder.where(order_id: @order.id,status: 'delivered').last.created_at.strftime("%d %B %Y") if TrackOrder.where(order_id: @order.id,status: 'delivered').last.present? %>
        <div class="progress" style="height: 35px">
          <% if @order.status=='success'%>
            <div class="progress-bar progress-bar-info progress_bar_size" role="progressbar" style="width:20%">
              <p>
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<%= success %>">
                  Ordered
                </a>
              </p>
            </div>
          <% elsif @order.status=='in-transit'%>
            <div class="progress-bar progress-bar-info progress_bar_size" role="progressbar" style="width:20%">
              <p>
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<%= success %>">
                  Ordered
                </a>
              </p>
            </div>
            <div class="progress-bar progress-bar-warning progress_bar_size" role="progressbar" style="width:30%">
              <p>
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<%= in_transit %>">
                  In Transit
                </a>
              </p>
            </div>
          <% elsif @order.status=='shipped'%>
            <div class="progress-bar progress-bar-info progress_bar_size" role="progressbar" style="width:20%">
              <p>
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<%= success %>">
                  Ordered
                </a>
              </p>
            </div>
            <div class="progress-bar progress-bar-warning progress_bar_size" role="progressbar" style="width:30%">
              <p>
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<%= in_transit %>">
                  In Transit
                </a>
              </p>
            </div>
            <div class="progress-bar progress-bar-primary progress_bar_size" role="progressbar" style="width:20%">
              <p>
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<%= shipped %>">
                  Shipped
                </a>
              </p>
            </div>
          <% elsif @order.status=='delivered' %>
            <div class="progress-bar progress-bar-info progress_bar_size" role="progressbar" style="width:20%">
              <p>
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<%= success %>">
                  Ordered
                </a>
              </p>
            </div>
            <div class="progress-bar progress-bar-warning progress_bar_size" role="progressbar" style="width:30%">
              <p>
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<%= in_transit %>">
                  In Transit
                </a>
              </p>
            </div>
            <div class="progress-bar progress-bar-primary progress_bar_size" role="progressbar" style="width:25%">
              <p>
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<%= shipped %>">
                  Shipped
                </a>
              </p>
            </div>
            <div class="progress-bar progress-bar-success progress_bar_size" role="progressbar" style="width:25%">
              <p>
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<%= delivered %>">
                  Delivered
                </a>
              </p>
            </div>
          <% end %>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
