<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="login-form"><!--login form-->
        <h2>Login to your account</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email,placeholder: 'Email Address', autofocus: true %>
          </div>

          <div class="field">
            <%= f.password_field :password,placeholder: 'Password', autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <span>
              <%= f.check_box :remember_me,class: 'checkbox' %>
              Keep me signed in</span>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Login",class: 'btn btn-width' %>
          </div>
        <% end %>

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name) %><br />
        <% end -%>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <% end -%>
       
      </div>
    </div>
    <div class="col-sm-4">
      <div style="margin-top: 40px;margin-left: 50px;border-left:1px solid grey;height:290px">
        <span class="signup-seperator">OR</span>
        <div class="col-sm-12 signin-other">
          <div class='signin-g'>
            <%= link_to user_google_oauth2_omniauth_authorize_path,style: 'color: #fff' do %>
              <span>Sign in with google</span>
            <% end %>
          </div>
          <div class='signin-f'>
            <%= link_to user_facebook_omniauth_authorize_path,style: 'color: #fff' do %>
              <span>Sign in with facebook</span>
            <% end %>
          </div>
          <div class='signin-t'>
            <%= link_to user_twitter_omniauth_authorize_path,style: 'color: #fff' do %>
              <span>Sign in with twitter</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


