<!doctype html>
<html>
<head>
  <title>E-Shopper</title>
  <style type="text/css">
    *{margin:0px; padding:0; font-family:arial; color:#232323; font-size:14px;}
  </style>
</head>
<body>
  <table style="border:1px solid #f1f1f1; margin:auto; text-align:center;" width="800" align="center" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td style="border-bottom: 5px solid #052b48; padding: 15px 0; text-align: center;">
          <table width="800" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="100%" valign="top" align="center"><a href="#" style="border:none; padding-left:15px;"><%= image_tag attachments['logo.png'].url, style: 'border:none;' %></a></td>
            </tr>
          </table>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="padding:15px;" align="left">
          <p style="margin:15px;">Hello <%= @user.first_name %>,</p>

          <p style="margin:15px;">Thanks for your Order!</p>
          <p style="margin:15px;">Payment for your Order with order-id: <%= @order.id %> is <b>Complete</b>, you paid <b>&#8377; <%= @order.grand_total %></b></p>

          <p style="margin:15px;">You can check the status of your order from here: <%= link_to (@orders),style: "color:#052B48;" do %>My Orders<% end %></p></p>
          <br>
          <table style="width:100%;border: 1px solid black;border-collapse: collapse;">
            <thead>
              <tr>
                <th style="padding: 10px;text-align: center;border: 1px solid black;">Item</th>
                <th style="padding: 10px;text-align: center;border: 1px solid black;">Quantity</th>
                <th style="padding: 10px;text-align: center;border: 1px solid black;">Price</th>
                <th style="padding: 10px;text-align: center;border: 1px solid black;">Total</th>
              </tr>
            </thead>
            <tbody>
              <% @order.order_items.each do |order_item|%>
                <tr>
                  <td style="padding: 10px;text-align: center;border: 1px solid black;"><%= order_item.product.name %></td>
                  <td style="padding: 10px;text-align: center;border: 1px solid black;"><%= order_item.quantity %></td>
                  <td style="padding: 10px;text-align: center;border: 1px solid black;"><%= order_item.product.price %></td>
                  <td style="padding: 10px;text-align: center;border: 1px solid black;"><%= order_item.amount %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
          <p style="margin:15px;">Your delivery Address is:</p>
          <p style="margin:15px;font-size: 20px"><%= @address.name %></p>
          <p style="margin:15px;line-height: 10px"><%= @address.address1 %></p>
          <p style="margin:15px;line-height: 10px"><%= @address.address2 %></p>
          <p style="margin:15px;line-height: 10px"><%= @address.pincode %></p>
          <p style="margin:15px;line-height: 10px"><%= @address.city %></p>
          <p style="margin:15px;line-height: 10px"><%= @address.state %></p>
          <p style="margin:15px;line-height: 10px"><%= @address.country %></p>
          <p style="margin:15px;"><%= @address.phone %></p>

          <p style="margin:15px;"><b>Note</b> : Please do not reply back to this mail. This is sent from an unattended mail box.</p>

          <p style="margin:15px;">This e-mail was sent from E-Shopper <%= link_to (@url),style: "color:#052B48;" do %>http://www.E-Shopper.com<% end %></p>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td style="background:#f4f4f4; padding:15px 0; text-align:center; color:#777;">&copy; E-Shopper, 2017 · All Rights Reserved.<%= link_to (@url),style: "color:#052B48;",target: "_blank" do %>www.E-Shopper.com<% end %></td>
      </tr>
    </tfoot>
  </table>
</body>
</html>