<!DOCTYPE html>
<html>
<head>
  <title>EShopping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render '/components/header' %>
    <div class="container">
      <div id='flashMessage'>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= (key =="notice") ? "success": "danger" %>">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= value %>
          </div>
        <% end %>
      </div>
      <%= yield %>
      <div class="modal fade" id="myModal_address" role="dialog">
        <div class="modal-dialog" style="width: 400px">
          <div class="modal-content">
            <div class="modal-body">
            </div>
          </div>
        </div>
      </div>
    </div>
  <%= render '/components/footer' %>
</body>
</html>