<h1>Student Page</h1>
<%= link_to 'Enter Details', new_student_path %>
<table>
	<tr>
		<th>Name</th>
		<th>Age</th>
		<th>Email</th>
		<th>Pincode</th>
	</tr>
	<% @students.each do |f| %>
	<tr>
		<td><%= f.student_name %></td>
		<td><%= f.Age %></td>
		<td><%= f.email %></td>
		<td><%= f.pincode %></td>
		<td><%= link_to 'Show', student_path(f)%></td>
		<td><%= link_to 'Edit', edit_student_path(f)%></td>
		<td><%= link_to 'Delete', student_path(f),method: :delete,data: 
		{ confirm: 'Are you sure' } %></td>
	</tr>
	<% end %>
</table>