<h1>Student Detail</h1>
<p>
	<strong>Name:</strong>
	<%= @student.student_name %>
	<strong>Age:</strong>
	<%= @student.Age %>
	<strong>Email:</strong>
	<%= @student.email %>
	<strong>Pincode:</strong>
	<%= @student.pincode %>
</p>
<%= link_to 'Index', students_path %>