<% if current_user.addresses.present? %>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>My Address</h4>
      </div>
    </div>
    <% @addresses.each do |address| %>
      <% unless address.status == 'inactive' %>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <p style="font-size: 20px"><%= address.name %></p>
              <hr>
              <p class="paragraph-line"><%= address.address1 %></p>
              <p class="paragraph-line""><%= address.address2 %></p>
              <p class="paragraph-line"><%= address.pincode %></p>
              <p class="paragraph-line"><%= address.city %></p>
              <p class="paragraph-line"><%= address.state %></p>
              <p class="paragraph-line"><%= address.country %></p>
              <hr>
              <p class="paragraph-line"><%= address.phone %></p>
              <hr>
              <%= link_to edit_address_path(address), remote: true, style: "color: black" do %>
                <i class="fa fa-pencil-square-o"></i>
                <span>EDIT</span>
              <% end %>
              <%= link_to address_path(address,status: 'off'), method: :put, style: "color: black;margin-left: 180px" do %>
                <i class="fa fa-trash-o"></i>
                <span>DELETE</span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <section id="cart_items">
    <div class="container">
      <div class="cart_info">
        <h2 style="text-align: center;">You haven't Saved any Address</h2>
        <br>
        <h4 style="text-align: center;">Please add new Address</h4>
      </div>
    </div>
  </section>
<% end %>
<div id="new_address" style="margin-left: 30px">
  <%= link_to "Add New Addresss", new_address_path, class: "btn btn-width2", remote: true %>
</div>