<% @addresss = Address.all %>
<% @addresses = current_user.addresses %>

<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>My Address</h4>
    </div>
  </div>
  <% @addresses.each do |address| %>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <p style="font-size: 20px"><%= address.name %></p>
        <hr>
        <p class="paragraph-line"><%= address.address1 %></p>
        <p class="paragraph-line""><%= address.address2 %></p>
        <p class="paragraph-line"><%= address.pincode %></p>
        <p class="paragraph-line"><%= address.city %></p>
        <p class="paragraph-line"><%= address.state %></p>
        <p class="paragraph-line"><%= address.country %></p>
        <hr>
        <p class="paragraph-line"><%= address.phone %></p>
        <hr>
        <%= link_to addresses_path,style: "color: black" do %>
          <i class="fa fa-pencil-square-o"></i>
          <span>EDIT</span>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>