<div class="col-sm-3">
  <div class = "panel panel-info">
    <div class = "panel-heading">
      <h4>Your Twitter Profile</h4>
      </div>
      <div class = "panel-body">
      <br>
        <% if current_user.avatar.url.present? %>
        <%= image_tag(current_user.avatar.url(:thumb), class: 'img-rounded') %>
        <% else %>
        <%= image_tag('default.png',size: '100x100',class: 'img-rounded') %>
        <% end %>
        <h4><span class="name"><%= current_user.name.capitalize %></span> @<%= current_user.username %></h4>
        <br>
        <table class = "table table-bordered">
          <tr>
            <td><%= link_to 'Tweets' ,post_path(current_user) %></td>
            <td><%= link_to 'Followers',followers_user_path(current_user) %></td>
            <td><%= link_to 'Following',following_user_path(current_user) %></td>
          </tr>
            <tr class = "success">
            <td><%= current_user.posts.size %></td>
            <td><%= current_user.followers.count%></td>
            <td><%= current_user.following.count%></td>
          </tr>
        </table>
        <%= render :partial => '/components/follow_button' %>
    </div>
    </div>
</div>
<div class="col-sm-7">
<div class="panel panel-info">
  <div class="panel-heading">
    <h4>Post</h4>
  </div>
  <div class="panel-body">
    <span class="name"><%= link_to @post.user.name.capitalize, user_path(@post.user) %></span> 
        @<%= @post.user.username %> 
        <span class="time"><%= time_ago_in_words(@post.created_at) %></span>
        <br>
        
        <h4>&nbsp<%= @post.content %></h4>
        <% if @post.avatar.url.present? %>
        <p><%= image_tag(@post.avatar.url,style: 'width: 250px;height: 150px;margin-top: 10px;margin-left: 10px;margin-bottom: 14px;', class: 'img-rounded') %></p>
        <% end %>
        &nbsp
        <%= link_to(new_retweet_path(id: @post)) do %>
          <i class="glyphicon glyphicon-retweet" style="color:blue"></i>
          <span style="color:blue">Retweet</span>
        <% end %>
        &nbsp
        <% if @post.comments.present? %>
        <%= link_to @post.comments.count, post_comments_path(@post),class: "count",style: "text-decoration: none" %><% end %> 
        <%= link_to(new_post_comment_path(@post)) do %>
        <i class="glyphicon glyphicon-comment" style="color:green"></i> 
        <span style="color:green">Comment</span>
        <% end %>
        <% if @post.user_id == current_user.id %>
        &nbsp
        <%= link_to post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
          <i class="glyphicon glyphicon-trash" style="color:red"></i>
          <span style="color:red">Delete</span>
        <% end %>
        <% end %>
  </div>
</div>
<div class="panel panel-info">
  <% if @post.comments.present? %>
  <div class="panel-heading">
    <h4>Comments</h4>
  </div>
  <div class="panel-body">
    <% @post.comments.each do |comment| %>
      <div id="show-post-timeline">
        <span class="name"><%= link_to comment.user.name.capitalize, user_path(comment.user) %></span>
        @<%= comment.user.username %> 
        <span class="time"><%= time_ago_in_words(comment.created_at) %></span>
        <br>
        <h4>&nbsp<%= comment.body %></h4>
        <% if comment.user_id == current_user.id %>
        &nbsp
        <%= link_to post_comment_path(@post,comment), method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
          <i class="glyphicon glyphicon-trash" style="color:red"></i>
          <span style="color:red">Delete</span>
        <% end %>
        <% end %>
        <hr>
      </div>
    <% end %>
  </div>
  <div class="panel-body">
    
  </div>
</div>
<% else %>
    <div class="panel-body">
      <h4>No Comments</h4>
    </div>
<% end %>
</div>
