<tr>
  <td>Cart Sub Total</td>
  <td>&#8377; <%= @cart_total %></td>
</tr>
<% @cart_tax=(0.15)*@cart_total %>
<tr>
  <td>Service Tax</td>
  <td>&#8377; <%= @cart_tax %></td>
</tr>
<tr class="shipping-cost">
  <td>Shipping Cost</td>
  <td>
    <% if @shipping_cost > 0 %>
      &#8377; <%= @shipping_cost %>
    <% else %>
      <%= 'Free' %>
    <% end %>
  </td>                   
</tr>
<tr>
  <td>Total</td>
  <% @total=@cart_total+@cart_tax+@shipping_cost %>
  <td><span>&#8377; <%= @total %></span></td>
</tr>