$('#wish_list_index').html("<%= escape_javascript render(:partial => 'wish_lists/index_wishlist') %>");
$('.single-products-'+<%= @product.id %>).html("<%= escape_javascript render(:partial => 'components/product_increase', :locals => { product: @product }) %>");
$('#single-'+<%= @product.id %>).html("<%= escape_javascript render(:partial => 'components/category_product', :locals => { product: @product }) %>");
$('#show-product-'+<%= @product.id %>).html("<%= escape_javascript render(:partial => 'products/product_show') %>");
$('#total-count').html('<i class=\'fa fa-shopping-cart\'></i> Cart (<%= @cart_items.count%>)')
$('#flashMessage').html('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= @createmsg %></div>')