$('#cart-item-delete-'+<%= @cart_item.id %>).remove()
$('#index-cart').html("<%= j (render 'cart_items/index_cart') %>")
$('#total-count').html('<i class=\'fa fa-shopping-cart\'></i> Cart <%= @cart_items.count>0 ? "(#{@cart_items.count})" : "" %>')
$('#cart-sub-total').html("<%= j (render 'cart_items/cart_total') %>")
$('#checkout-total').html("<%= j (render 'check_outs/checkout_shipping_total') %>")
$('#review-order').html("<%= j (render 'check_outs/review_order') %>")
$('#flashMessage').html('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= @delete_msg %></div>')