<section id="cart_items">
  <div class="container">
    <div class="cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="cart_product">
              <%= image_tag(cart_item.product.pictures.first.avatar.url,class: 'cart-image') %>
            </td>
            <td class="cart_description">
              <h4><%= cart_item.product.name %></h4>
            </td>
            <td class="cart_price">
              <p>&#8377; <%= cart_item.product.price %></p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a class="cart_quantity_up" href=""> + </a>
                <input class="cart_quantity_input" type="text" name="quantity" value="<%= cart_item.quantity%>" autocomplete="off" size="2">
                <a class="cart_quantity_down" href=""> - </a>
              </div>
            </td>
            <td class="cart_total">
              <% @total=cart_item.product.price*cart_item.quantity %>
              <p class="cart_total_price">&#8377; <%= @total %></p>
            </td>
            <td class="cart_delete">
              <%= link_to cart_item, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-times"></i><% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section> <!--/#cart_items-->