$('#cart-update-'+<%= @cart_item.id %>).html("<%= j (render :partial => 'cart_items/product_cart_review', locals: { cart_item: @cart_item } ) %>")
$('#review-update-'+<%= @cart_item.id %>).html("<%= j (render :partial => 'cart_items/product_cart_review', locals: { cart_item: @cart_item } ) %>")
$('#cart-total-'+<%= @cart_item.id %>).html("&#8377; "+<%= (@cart_item.quantity * @cart_item.product.price) %>.toFixed(1))
$('#cart-sub-total').html("<%= j (render 'cart_items/cart_total') %>")
$('#checkout-total').html("<%= j (render 'check_outs/checkout_shipping_total') %>")
$('#flashMessage').html('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= @updatemsg %></div>')