<!doctype html>
<html>
<head>
  <title>E-Shopper</title>
  <style type="text/css">
    *{margin:0px; padding:0; font-family:arial; color:#232323; font-size:14px; box-sizing:border-box;}
  </style>
</head>
<body>
  <table style="border:1px solid #f1f1f1; margin:auto; text-align:center;" width="800" align="center" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td style="border-bottom: 5px solid #052b48; padding: 15px 0; text-align: center;">
          <table width="800" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="100%" valign="top" align="center"><a href="#" style="border:none; padding-left:15px;"><%= image_tag attachments['logo.png'].url, style: 'border:none;' %></a></td>
            </tr>
          </table>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="padding:15px 25px;" align="left">
          <h2 style="margin:0 0 10px; 0;">Hello <%= @contact.name %>,</h2>
          <p style="margin:0 0 10px; 0;">Thanks for Contacting E-Shopper.</p>
          <table border="0" style="padding:15px; border:1px solid #cccccc;" bgcolor="F4F4F4" cellpadding="0" cellspacing="5px">
            <tbody>
              <tr style="padding:0 15px;">
                <td style="vertical-align:top;"><strong>Email:</strong></td>
                <td style="vertical-align:top;"><a style="color:#052B48;" href="mailto:test@test.com"> <%= @contact.email %></a></td>
              </tr>
              <tr>
                <td style="vertical-align:top;"><strong>Name:</strong></td>
                <td style="vertical-align:top;"><%= @contact.name %></td>
              </tr>
              <tr>
                <td style="vertical-align:top;"><strong>Subject:</strong></td>
                <td style="vertical-align:top;"><%= @contact.subject %></td>
              </tr>
              <tr>
                <td style="vertical-align:top;"><strong>Message:</strong></td>
                <td style="vertical-align:top;"><%= @contact.message %></td>
              </tr>
              <tr>
                <td style="vertical-align:top;"><strong>Reply:</strong></td>
                <td style="vertical-align:top;"><%= @contact.reply %></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td style="padding:15px 25px;" align="left">
          <p>
            When you log in to your account, you will be able to do the following:<br/><br/>
            - Proceed through checkout faster when making a purchase<br/>
            - Check the status of orders<br/>
            - View past orders<br/>
            - Make changes to your account information<br/>
            - Change your password<br/>
            - Store alternative addresses(for shipping to multiple family members and friends!)
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding:15px 25px;" align="left">
          <p>If you have any questions about your account or any other matter, please feel free to contact us at <%= link_to (@contact_url),style: "color:#052B48;" do %>support@eshoppers.com<% end %></p>
        </td>
      </tr>
      <tr>
        <td style="background:#f4f4f4; padding:15px 25px; text-align:center; color:#777;">
          <p><b>Note</b>: Please do not reply back to this mail. This is sent from an unattended mail box.</p>
          <p>This e-mail was sent from E-Shopper <%= link_to (@url),style: "color:#052B48;" do %>http://www.E-Shopper.com<% end %></p><br/>
          <p>&copy; E-Shopper, 2017. All Rights Reserved.<%= link_to (@url),style: "color:#052B48;",target: "_blank" do %>www.E-Shopper.com<% end %></p>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>