<div class="col-sm-9 padding-right">
  <div class="product-details"><!--product-details-->
    <div class="col-sm-5">
      <div class="view-product">
        <%= image_tag(@product.pictures.find_by(imageable_id: @product.id).avatar.url) %>
        <h3>ZOOM</h3>
      </div>
      <div id="similar-product" class="carousel slide" data-ride="carousel">
        
          <!-- Wrapper for slides -->
            <div class="carousel-inner">
            <div class="item active">
              <a href=""><%= image_tag "product-details/similar1.jpg" %></a>
              <a href=""><%= image_tag "product-details/similar2.jpg" %></a>
              <a href=""><%= image_tag "product-details/similar3.jpg" %></a>
            </div>
            <div class="item">
              <a href=""><%= image_tag "product-details/similar1.jpg" %></a>
              <a href=""><%= image_tag "product-details/similar2.jpg" %></a>
              <a href=""><%= image_tag "product-details/similar3.jpg" %></a>
            </div>
            <div class="item">
              <a href=""><%= image_tag "product-details/similar1.jpg" %></a>
              <a href=""><%= image_tag "product-details/similar2.jpg" %></a>
              <a href=""><%= image_tag "product-details/similar3.jpg" %></a>
            </div>
            
          </div>

          <!-- Controls -->
          <a class="left item-control" href="#similar-product" data-slide="prev">
          <i class="fa fa-angle-left"></i>
          </a>
          <a class="right item-control" href="#similar-product" data-slide="next">
          <i class="fa fa-angle-right"></i>
          </a>
      </div>

    </div>
    <div class="col-sm-7">
      <div class="product-information"><!--/product-information-->
        <%= image_tag "product-details/new.jpg", class: 'newarrival' %>
        <h2><%= @product.name%></h2>
        <p>Web ID: 1089772</p>
        <% if user_signed_in? %>
          <% if current_user.cart_items.pluck(:product_id).include?@product.id %>
            <%= image_tag "product-details/rating.png" %>
            <span>
              <span>&#8377; <%= @product.price%></span>
              <label>Quantity:</label>
              <input type="text" disabled value="<%= current_user.cart_items.find_by(product_id: @product).quantity %>" />
              <%= link_to cart_items_path,class: "btn btn-fefault cart" do %>
                <i class="fa fa-shopping-cart"></i>
                Go to cart
              <% end %>
            </span>
          <% else %>
            <%= form_for @cartitem do |f| %>
              <%= image_tag "product-details/rating.png" %>
              <span>
                <span>&#8377; <%= @product.price%></span>
                <label>Quantity:</label>
                <%= f.number_field :quantity, value: 1, min: 1, max: @product.quantity %>
                <%= hidden_field_tag :product_id, @product.id %>
                <%= hidden_field_tag :product_show, :true %>
                <%= button_tag(:type => 'submit',class: 'btn cart') do%>
                  <i class="fa fa-shopping-cart"></i>
                  Add to cart
                <% end %>
              </span>
            <% end %>
          <% end %>
        <% else %>
          <%= image_tag "product-details/rating.png" %>
          <span>
            <span>&#8377; <%= @product.price%></span>
            <label>Quantity:</label>
            <input type="text" value="1" />
            <%= link_to cart_items_path,class: "btn btn-fefault cart" do %>
              <i class="fa fa-shopping-cart"></i>
              Add to cart
            <% end %>
          </span>
        <% end %>
        <p><b>Available Quantity:</b> <%= @product.quantity%></p>
        <p><b>Condition:</b> New</p>
        <p><b>Brand:</b> <%= @product.brand.name.upcase%></p>
        <a href=""><%= image_tag "product-details/share.png", class: "share img-responsive" %></a>
      </div><!--/product-information-->
    </div>
  </div>
</div>