<% if current_user %>
<div class="col-sm-3">
  <div class = "panel panel-info">
    <div class = "panel-heading">
      <% if @user.id == current_user.id %>
      <h4>Your Twitter Profile</h4>
      <% else %>
      <h4><%= @user.name.capitalize %> Twitter Profile</h4>
      <% end %>
      </div>
      <div class = "panel-body">
      <br>
        <% if current_user.avatar.url.present? %>
        <%= image_tag(@user.avatar.url(:thumb), class: 'img-rounded') %>
        <% else %>
        <%= image_tag('default.png',size: '100x100',class: 'img-rounded') %>
        <% end %>
        <h4><span class="name"><%= @user.name.capitalize %></span> @<%= @user.username %></h4>
        <br>
        <table class = "table table-bordered">
          <tr>
            <td><%= link_to 'Tweets' ,post_path(@user) %></td>
            <td><%= link_to 'Followers',followers_user_path(@user) %></td>
            <td><%= link_to 'Following',following_user_path(@user) %></td>
          </tr>
          <tr class = "success">
            <td><%= @user.posts.size %></td>
            <td><%= @user.followers.count%></td>
            <td><%= @user.following.count%></td>
          </tr>
        </table>
        <%= render :partial => '/components/follow_button' %>
    </div>
    </div>
</div>
<div class="col-sm-7">
  <div class = "panel panel-info">
    <div class = "panel-heading">
      <h3>Followers</h3>
    </div>
    <div class = "panel-body">
      <% unless @user.followers.present? %>
        <h1>Zero Followers</h1>
      <% end %>
      <% @followers.each do |follower|%>
        <table>
        <tr>
          <td style="padding-left: 20px">
            <% if follower.avatar.url.present? %>
              <%= image_tag(follower.avatar.url(:small), class: 'img-rounded') %>
            <% else %>
              <%= image_tag('default.png',size: '100x100',class: 'img-rounded') %>
            <% end %>
          </td>
          <td style="padding-left: 50px">
            <table class = "table table-bordered">
            <tr>
              <h4><%= link_to follower.name.capitalize, user_path(follower) %> @<%= follower.username %></h4>
              <br>
            </tr>
            <tr>
              <span style="color: blue; font-size: 18px"><%= follower.posts.size %> Tweets
              &nbsp<%= follower.followers.count%> Followers
              &nbsp<%= follower.following.count%> Following
               </span>
            </tr>
            </table>
          </td>
        </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
<% end %>