<div class="col-sm-3">
	<div class = "panel panel-info">
		<div class = "panel-heading">
			<h4>Links</h4>
		</div>
		<div class = "panel-body">
			<button type="button" class="btn btn-block btn-default user"><%= link_to 'Users',users_path %></button><br>
  			<button type="button" class="btn btn-block btn-default user"><%= link_to 'Posts',posts_path %></button><br>
  			<button type="button" class="btn btn-block btn-default user"><%= link_to 'Images', images_posts_path %></button>
		</div>
	</div>
</div>
<div class="col-sm-7">
	<div class = "panel panel-info">
    	<div class = "panel-heading">
    		<h3>Post a Tweet</h3>
   		</div>
    <br>
    <div class = "panel-body">
    <%= form_for @post do |f| %>
        <%= f.text_area :content, size: "80x5",style: 'border-radius: 10px;' %>
        <br><br>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
        <br>
        <%= f.submit "Tweet", class: 'btn btn-primary' %>
    <% end %>
    </div>
  </div>
	<div class = "panel panel-info">
		<div class = "panel-heading">
			<h4>All Users</h4>
		</div>
		<% @users.each do |user|%>
		<div class = "panel-body">
			<table>
			<tr>
			<td style="padding-left: 20px">
				<% if user.avatar.present? %>
        	<%= image_tag(user.avatar.url,style: "height: 80px;width:100px;border: 1px solid black" ,class: 'img-rounded') %>
        <% else %>
        	<%= image_tag('default.png',size: '100x100',class: 'img-rounded') %>
        <% end %>
			</td>
			<td style="padding-left: 50px">
				<table class = "table table-bordered">
				<tr>
					<h4><%= link_to user.name.capitalize, user_path(user) %> @<%= user.username %></h4>
					<br>
				</tr>
				<tr>
					<span style="color: blue; font-size: 18px"><%= user.posts.size %> Tweets
					&nbsp<%= user.followers.count%> Followers
					&nbsp<%= user.following.count%> Following
					</span>
				</tr>
				</table>
			</td>
			</tr>
			</table>
		</div>
		<hr>
		<% end %>
	</div>
</div>
