<div class="category-tab"><!--category-tab-->
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <% @subcategories.each_with_index do |subcategory,index| %>
        <li class="<%= "active" if @subcategory.id == subcategory.id %>">
          <%= link_to subcategory.name,category_path(@category,sub_category: subcategory.id) %>
        </li>
      <% end %>   
    </ul>
  </div>
  <% @products.each do |product| %>
    <div class="col-sm-3">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <%= image_tag(product.pictures.find_by(imageable_id: product.id).avatar.url) %>
            <h2>&#8377; <%= product.price%></h2>
            <p style="height: 70px"><%= product.name%></p>
            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>  
</div><!--/category-tab-->