<div class="category-tab"><!--category-tab-->
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <% @subcategories.each_with_index do |subcategory,index| %>
        <li class="<%= "active" if @subcategory.id == subcategory.id %>">
          <%= link_to subcategory.name,category_path(@category,sub_category: subcategory.id) %>
        </li>
      <% end %>   
    </ul>
  </div>
  <% if @products.present? %>
    <% @products.each do |product| %>
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <%= image_tag(product.pictures.find_by(imageable_id: product.id).avatar.url) %>
              <h2>&#8377; <%= product.price%></h2>
              <p style="height: 70px"><%= product.name%></p>
              <% if user_signed_in? %>
                <% unless current_user.cart_items.pluck(:product_id).include?(product.id) %>
                  <%= link_to cart_items_path(product_id: product.id),method: :post, class: 'btn btn-default add-to-cart' do %>
                    <i class="fa fa-shopping-cart"> Add to cart</i>
                  <% end %>
                <% else %>
                  <%= link_to cart_items_path(product_id: product.id),method: :post, class: 'btn btn-default add-one-cart' do %>
                    <i class="fa fa-shopping-cart"> Add One More</i>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to cart_items_path(product_id: product.id),method: :post, class: 'btn btn-default add-to-cart' do %>
                  <i class="fa fa-shopping-cart"> Add to cart</i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-sm-12">
      <div class="product-image-wrapper">
        <div class="single-products">
          <br>
          <h2 style="text-align: center;">No Product Available</h1>
          <br>
        </div>
      </div>
    </div>    
  <% end %> 
</div><!--/category-tab-->