<div class="productinfo text-center">
  <% if user_signed_in? %>
    <% unless current_user.wish_lists.pluck(:product_id).include?(product.id) %>
      <%= link_to wish_lists_path(product_id: product.id), method: :post, style: 'color: black', title: 'Add to Wishlist', remote: true do %>
        <i class="fa fa-heart-o font-awesome-size"></i>
      <% end %>
    <% else %>
      <%= link_to wish_list_path(current_user.wish_lists.find_by(product_id: product.id)),id: 'delete-wishlist-product-#{product_id}', :method => :delete, remote: true do %>
        <i class="fa fa-heart font-awesome-size" style="color: red"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to wish_lists_path(product_id: product.id), method: :post, style: 'color: black', title: 'Add to Wishlist' do %>
      <i class="fa fa-heart-o font-awesome-size"></i>
    <% end %>
  <% end %>
  <%= link_to product_path(product) do %>
    <%= image_tag(product.pictures.find_by(imageable_id: product.id).avatar.url) %>
    <h2>&#8377; <%= product.price%></h2>
    <p><acronym title="<%= product.name %>"> <%= truncate(product.name , length:23) %></acronym></p>
  <% end %>
  <% if user_signed_in? %>
    <% unless current_user.cart_items.pluck(:product_id).include?(product.id) %>
      <%= link_to cart_items_path(product_id: product.id),method: :post, class: 'btn btn-default add-to-cart', remote: true do %>
        <i class="fa fa-shopping-cart"> Add to cart</i>
      <% end %>
    <% else %>
      <%= link_to cart_items_path(product_id: product.id),method: :post, class: 'btn btn-default add-one-cart', remote: true do %>
        <i class="fa fa-shopping-cart"> Add One More</i>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to cart_items_path(product_id: product.id),method: :post, class: 'btn btn-default add-to-cart' do %>
      <i class="fa fa-shopping-cart"> Add to cart</i>
    <% end %>
  <% end %>
</div>