<div class="col-sm-3">
  <div class = "panel panel-info">
    <div class = "panel-heading">
      <h4>Your Twitter Profile</h4>
      </div>
      <div class = "panel-body">
      <br>
          <%= image_tag(@user.avatar.url(:thumb)) %>
          <h4><span class="name"><b><%= @user.name.capitalize %></b></span> @<%= @user.username %></h4>
          <br>
          <table class = "table table-bordered">
            <tr>
              <td><%= link_to 'Tweets' ,post_path(current_user) %></td>
              <td><%= link_to 'Followers',followers_user_path(current_user) %></td>
              <td><%= link_to 'Following',following_user_path(current_user) %></td>
            </tr>
            <tr class = "success">
              <td><%= @user.posts.size %></td>
              <td><%= current_user.followers.count%></td>
              <td><%= current_user.following.count%></td>
            </tr>
          </table>
      </div>
    </div>
    <div class="well">
      <div class="btn-group-vertical btn-block">
        <button type="button" class="btn btn-default user"><%= link_to 'Users',users_path %></button>
        <button type="button" class="btn btn-default user"><%= link_to 'Posts',posts_path %></button>
        <button type="button" class="btn btn-default user">Images</button>
      </div>
    </div>
</div>
<div class="col-sm-7">
<div class = "panel panel-info">
  <div class = "panel-heading">
  <h3>Post a Tweet</h3>
  </div>
    <br>
    <div class = "panel-body">
    <%= form_for @post do |f| %>
        <%= f.text_area :content, size: "80x5",style: 'border-radius: 10px;' %>
        <br><br>
        <%= f.submit "Tweet", class: 'btn btn-primary' %>
        <%= f.submit "Upload Image", class: 'btn btn-default' %>
    <% end %>
    </div>
</div>
<div class = "panel panel-info">
  <div class = "panel-heading">
    <h3>Public Tweets</h3>
    </div>
    <div class = "panel-body">
    <% @posts.each do |post| %>
        <div id="show-post-timeline">
        <span class="name"><%= link_to post.user.name.capitalize, user_path(post.user) %></span> 
        @<%= post.user.username %> 
        <span class="time"><%= time_ago_in_words(post.created_at) %></span>
        <br>
        <h4>&nbsp<%= post.content %></h4>
        <% if post.retweet_id.present? %>
            <% @retweet = Post.find(post.retweet_id) %>
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                <span class="name"><%= link_to @retweet.user.name.capitalize, user_path(@retweet.user) %></span> 
                @<%= @retweet.user.username %> 
                <span class="time"><%= time_ago_in_words(@retweet.created_at) %></span>
                <br>
                <h4>&nbsp<%= @retweet.content %></h4>
                </div>
            </div>
        <% end %>
        <% if post.retweets.present? %>
        <span class="count"><%= post.retweets.count %></span>
        <% end %>
        <%= link_to(new_retweet_path(id: post)) do %>
          <i class="glyphicon glyphicon-retweet" style="color:blue"></i>
          <span style="color:blue">Retweet</span>
        <% end %>
        &nbsp
        <% if post.comments.present? %>
        <%= link_to post.comments.count, post_comments_path(post),class: "count",style: "text-decoration: none" %><% end %> 
        <%= link_to(new_post_comment_path(post)) do %>
        <i class="glyphicon glyphicon-comment" style="color:green"></i> 
        <span style="color:green">Comment</span>
        <% end %>
        <% if post.user_id == current_user.id %>
        &nbsp
        <%= link_to post_path(post), method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
          <i class="glyphicon glyphicon-trash" style="color:red"></i>
          <span style="color:red">Delete</span>
        <% end %>
        <% end %>
        <hr>
        </div>
    <% end %>
    </div>
</div>
<%= will_paginate @posts %>

</div>
<div class="col-sm-2"></div>